<h1>Get the frequency of a word in a phrase</h1>
<form action='/results'>
  <div class = "form-group">
    <label for="word_to_check">Enter Word</label>
    <input id="word_to_check" name="word_to_check" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="phrase">Enter Phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
